{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="content-block">
    <div class="section-full content-inner overlay-white-middle">
        <div class="container">
            <div class="row">


                {% for c in company %}
                <div class="col-lg-4 col-md-4 col-sm-12 m-b30">
                    <div class="icon-bx-wraper p-a30 center bg-gray radius-sm">
                        <div class="icon-md text-primary m-b20"> <a href="#" class="icon-cell text-primary"><img src="{{ c.company_logo.url }}" alt=""></a> </div>
                        <div class="icon-content">
                            <h5 class="dlab-tilte text-uppercase">{{c.company_name}}</h5>
                            <p>{{c.address }}</p>
                            <p>0{{c.contact }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
              
            </div>
        </div>
    </div>
    </div>


{% endblock %}
