<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 {% extends 'base.html' %}
 {% block content %}
 <div id="loading-area"></div>
 <div class="page-wraper">
     
     <!-- Content -->
     <div class="page-content">
 
         
         
         
     </div>
     <!-- scroll top button -->
     <button class="scroltop fa fa-arrow-up" ></button>
 </div>
 {% endblock %} 
</body>
</html>