{% extends 'base.html' %} 
{% block content %} 
{% load static %} 
{% load humanize%}
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-dark" style="background-image:url(images/banner/bnr1.jpg);">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">Submit Resume</h1>
                <!-- Breadcrumb row -->
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a href="#">Home</a></li>
                        <li>Submit Resume</li>
                    </ul>
                </div>
                <!-- Breadcrumb row END -->
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
        <!-- Submit Resume -->
        <div class="section-full bg-white submit-resume content-inner-2">
            <div class="container">
                <form action="{% url 'apply_for_job' %}" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label>Job Title</label>
                        <input type="text" name="job_title"  class="form-control" placeholder="Your Full Name"  value="{{user.username}}">
                    </div>
                    <div class="form-group">
                        <label>Your name</label>
                        <input type="text" name="abc"  class="form-control" placeholder="Your Full Name" disabled  value="{{user.username}}">
                    </div>
                    <div class="form-group">
                        <label>Your email</label>
                        <input type="email" name="mail"  class="form-control" placeholder="info@gmail.com"  value="{{user.email}}">
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" name="address"  class="form-control" placeholder="Web Designer">
                    </div>

                    <div class="form-group">
                        <label>Photo (optional)</label>
                        <div class="custom-file">
                            <input type="file" name="image" id="image" class="site-button" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Resume</label>
                        <input type="file" name="resume" class="form-control" placeholder="Resume" >
                    </div>
                    <div class="form-group">
                        <label>Salary Expectation</label>
                        <input type="text"  name="salary" class="form-control" placeholder="50 ($)">
                    </div>

                    <div class="form-group">
                        <label>Cover Letter</label>
                        <textarea class="form-control" name="cover" id="cover" placeholder="Your Content"></textarea>
                    </div>

                    <button type="submit" class="site-button">Submit</button>
                </form>
            </div>
        </div>
        <!-- Submit Resume END -->
    </div>
</div>
{% endblock %}
